# Data Manipulation & Math
spacy
nltk
textstat
vaderSentiment

# Download model en_core_web_sm (python -m spacy download en_core_web_sm)

# XML & Text Processing
beautifulsoup4 
lxml
textblob

# Machine Learning & NLP
pandas
numpy
scikit-learn
transformers
torch
sentencepiece
tensorflow

# Data Visualization
matplotlib
seaborn

# Utilities & File Formats
tqdm
requests
pyarrow
praw

