########## EXTRAER DATOS ##########
praw

################ NLP CLÁSICO ################
spacy
nltk
textstat
vaderSentiment
nltk 

# Descargar modelo en_core_web_sm (se hace aparte con: python -m spacy download en_core_web_sm)

################ NLP AVANZADO (BERT) ###########
transformers
torch
sentencepiece

################ MODELADO Y REDES NEURONALES #######
tensorflow

################ MANEJO DE DATOS ###################
pandas
numpy
scikit-learn

################ VISUALIZACIÓN #####################
matplotlib
seaborn

################ UTILIDADES ########################
tqdm
requests
beautifulsoup4 
lxml

